<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.8" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="2.8.0" targetFramework="net461" developmentDependency="true" />
  <package id="netFORUM.Core" version="2015.1.200.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net461" />
</packages>